{% load post_tags %}
<div class="card">
    <div class="card-header">
        <a href="{% url 'blog:list_categories' %}">Categories</a>
    </div>
    <div class="card-body">
        <div class="row">
            {% get_categories as categories%}
            {% for category in categories %}
            <div class="col-xs-3 ml-2">
                
                            <a href="{% url 'blog:category' category.name %}" class="btn btn-outline-dark mb-3">{{category.name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>